.play{
    border:none ;
    border-radius: 40px;
    width: 50px;
    height: 50px;
}

.block{
    width: 300px;
    height: 300px;
    
    
    .top{
        height: 200px;
        background-color: cornflowerblue;
        position: relative;
        .img {
            position: absolute;
            width: 50px;
            height: 50px;
            border:none ;
            border-radius: 25px;
            left: -25px;
            top: -25px;
            img{
                width: 50px;
                height: 50px;
            }
        }
        .text{
            margin-left: 30px;
            color: white;
            
            .span{
                font-size: 12px;
            }
            .h1{
                font-size: 20px;
            }
        }
    }
    .bottom{
        width: 300px;
        height: 100px;
        overflow: hidden;
        img{
            height: 50px;
            object-fit: cover;
        }
    }
}
